{% extends "network/layout.html" %}
{% load static %}
{% load custom_filters %}

{% block body %}

    <h2>{{ heading }}</h2>

    {% for post in page_obj %}
        <div class="row border rounded p-2 mx-0 mb-1" data-id="{{ post.id }}">
            <div class="row gap-0">
                <div class="col-auto pe-2">
                    <a href="{% url 'profile' post.user %}" class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">
                        <strong>{{ post.user }}</strong>
                    </a>                    
                </div>
                <div class="col-auto p-0 fw-bold">·</div>
                <div class="col-auto ps-2 text-muted timestamp">
                    {{ post.timestamp }}
                    {% if post.edited %}
                        (edited)
                    {% endif %}
                </div>
                {% if user == post.user %}
                    <div class="col-auto ms-auto edit-div">
                        <i class="fa-regular fa-pen-to-square me-1"></i>Edit Post
                    </div>
                {% endif %}
            </div>

            <div class="content-div">
                {{ post.content }}
            </div>
            
            {% liked user post as liked %}
            <div class="like-div col-auto d-flex align-items-center gap-2" data-liked="{{ liked }}" data-post-user="{{ post.user }}">
                {% if liked %}
                    <i class="fa-solid fa-heart"></i>
                {% else %}
                    <i class="fa-regular fa-heart"></i>
                {% endif %}
                <div class="col-auto like-count fw-semibold">
                    {{ post.like_count }}
                </div>
            </div>
        </div>
    {% empty %}
        No posts has been made.
    {% endfor %}

    <nav class="mt-3" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Previous">&laquo;</span>
                </li>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
                {% if page_num == page_obj.number %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Next">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}

{% block script %}
    <script>
        const csrf_token = '{{ csrf_token }}';
        const logged_in = '{{ user.is_authenticated }}';
        const user = '{{ user }}';
    </script>
    <script src="{% static 'network/edit.js' %}"></script>
    <script src="{% static 'network/like.js' %}"></script>
{% endblock %}
