{% extends "network/layout.html" %}

{% block body %}

    <h2>{{ username }}'s Profile</h2>

    {% for post in posts %}
        <div class="row border rounded p-2 mx-0">
            <div>
                <a href="{% url 'profile' post.user %}" class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">
                    <strong>{{ post.user }}</strong>
                </a>
                <span class="fw-bold">·</span>
                <span class="text-muted"> {{ post.timestamp }}</span>
            </div>
            <div>
                {{ post.content }}
            </div>
        </div>
    {% empty %}
        No posts has been made.
    {% endfor %}
{% endblock %}
